.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.action-btn {
  border: none;
  padding: 16px 10px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgba(109, 109, 238, 0.845);
}

.action-btn:hover {
  background-color: rgba(186, 186, 243, 0.845);
}

#content {
  width: 500px;
  margin: 0 auto;
  background: rgb(238, 236, 236);
  border-radius: 20px;
  padding: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 8px;
  margin: 5px 0;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

ul li:nth-child(even) {
  background-color: #e9e9e9;
}

.message {
  padding: 15px;
  background-color: #ffcccc;
  color: #d8000c;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 10px;
}

form button {
  align-self: flex-start;
  margin-top: 10px;
}


select {
  padding: 8px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

#mark-film-btn {
  background-color: #d9e404;
}

#mark-film-btn:hover {
  background-color: #e6d222;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  #content {
    width: 100%;
  }
}
